.dropdown {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 8px;
}


.dropdown div {
    display: block;
    margin-bottom: 4px;
}

.dropdown div:hover {
    cursor: pointer;
    background-color: gray;
}
